.App {
  text-align: center;
}

.bibliotecaApp{
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  margin:5%;
  justify-content: space-evenly;
}
.itemListCategoria{
  display:flex;
  flex-direction: row ;
  background-color: black;
  color:yellow;
  justify-content: space-between;
}
.segment{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:stretch;
  background-color: black;
  width:35%;
}
.botonCategoriaItem{
  margin:2px;
  background-color: black;
  color:rgb(228, 224, 19);
}
.botonCategoriaItem2{
  margin:2px;
  background-color: red;
  color:black;
}
.categoriaColumna{
  display:flex;
  flex-direction:column;
}
.LibroColumna{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.formLibro{
  display:flex;
  flex-direction:column;
}
.formLibro2{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
.descripcion{
  width:100%;
  height:30%;
}
.itemListLibro{
  display:flex;
  flex-direction:row;
  padding:1px;
  justify-content:space-between;
}
.formPersona{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  margin: 2px;
  padding: 1px;
}
.PersonaColumna{
  display:flex;
  flex-direction:column;
  justify-content:flex-start ;
  width:30%;
}